.btn-recipe{
    background-color:#009223;

    margin: 60px 0 0 10px;
    padding: 5px;
    border-radius: 10px;
    color: #ffffff
}
.btn-prev,.btn-next{
    background-color:#ffc300;
    padding: 10px 100px;
    margin: 10px;
    border-radius: 10px
}
.card_btn{
    position: absolute;
    top: 0;
    right:0;
    width:40px;
    height: 40px;
    color: white;
    font-size: 30px;
    border: 1px solid #666666;
    background-color: #009223;
    line-height: 1;
    
    
}



.step {
    width: 100%;
    height: 100px;
    font-size: 20px;
}
.step li{
    float:left;
    border-radius: 35px;
    margin-left: 30px;
    border: 3px solid #dddddd;
    line-height: 1;
    padding: 8px 12px;
}
.step strong{
    text-align: center;
    display: block;
    font-size: 30px;
   
}
.step-content {
   position: relative;
   
   background-color: #f6f6f6
}
.step-content img{
    
    width: 700px;
    height: 420px;;
}
.step-card-left::before{
    content:'나만의 꿀조합 레시피';
    color: #ffc300;
    position: absolute;
    top: -40px;
    left: 15px;
    font-size: 30px;
    font-weight: 400
}

.step-card-left{
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: 40%;
    width: 300px;
    height: 424px;
    border: 1px solid #dddddd;
    background-color: #fff;
    overflow: hidden;
}


.card-recipe-item{
    position: relative;
    border: 1px solid #009223;
    padding: 5px;
    font-size: 20px;
    
}

.step-card-right{
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: 60%;
    width: 300px;
    height: 424px;
    border: 1px solid #dddddd;
    background-color: #fff;

}
.step-number{
    position: absolute;
    left: 49px;
    top: 43px;
    font-weight: bold;
    color: #009223;
    font-size: 25px;
    display: block;
}

.step-menu{
    position: absolute;
    left: 49px;
    top: 100px;
    font-size: 25px;
    color: #666666;
    
}
.step-menu:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 120px;
    height: 4px;
    background-color: #ffc300;

}
.step-desc{
    position: absolute;
    left: 49px;
    top: 180px;
    font-size: 16px;
    color: #666666;
    padding-right: 40px;
}

.step-cover{
    display: inline-block;
    width:150px;
    height: 150px;
}
