.detail-cover{
    background: url(../images/detail/Desktop_Hero_Main_1800x650_OvenRoastedChicken_Sandwiches_@1x.jpg) 0 0 no-repeat;
    background-position: center;
    width: 1300px;
    height: 500px;
}