/* =============================================
        layout
============================================= */

.detail-container{
    width: 1800px;
    margin: 0 auto;
}
.detail-wrapper{
    background-color: rgb(232, 232, 232);
    margin:0 auto;
    width: 100%;
    
}
.detail-cover0{
    background: url(../images/detail/0.jpg) 0 0 no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}
.detail-cover1{
    background: url(../images/detail/1.jpg) 0 0 no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}
.detail-cover2{
    background: url(../images/detail/2.jpg) 0 0 no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}
.detail-cover3{
    background: url(../images/detail/3.jpg) 0 0 no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}
.detail-cover4{
    background: url(../images/detail/4.jpg) 0 0 no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}
.detail-cover5{
    background: url(../images/detail/5.jpg) 0 0 no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}
.detail-cover6{
    background: url(../images/detail/6.jpg) 0 0 no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}
.detail-cover7{
    background: url(../images/detail/7.jpg) 0 0 no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}
.detail-content{
    position: relative;
}


.detail-title{
    position: absolute;
    top: 25%;
    left: 10%;
    color: #ffffff;
    letter-spacing: 0.2rem;
    font-size: 60px;
    font-weight: 900;
}
.honey{
    color: #ffc20e;
       
}
.honey-right{
    color: #029132
}
.detail-content-summary{
    text-align: center;
    font-size: 1.5rem;
    color: #999999;
    line-height: 26px;
    margin-top: 24px;
    letter-spacing: -0.045em;
}

.recipe ul li{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 30px;
}

.recipe ul li p{
    font-size: 15px;
    color: #292929;
    letter-spacing: -0.025em;
    margin-top: 8px;
    text-align: center;
}