.franchise-bg{
    display:flex;
    justify-content: center;
    width:100%;
    height:100%;
    background-color:#f6f6f6;
}

.franchise-wrapper{
   
    padding: 50px;
    width: 85%;
   
}
.franchise-title{
    text-align: center;
    padding: 60px 0 0 ;
    font-size: 2.5rem;
    font-weight: bold;
    height: 195px;
    color:#029132;
    
}
.franchise-title span{
    color:#ffc20e
}
.franchise-privacy{
   display: flex;
   align-items: row;
   justify-content:space-around;
}

.prevacy-title{
    font-size: 1.2rem;
}

.franchise-privacy textarea{
    display:block;
    width: 500px;
    height: 200px;
    margin: 20px 40px 0 0;
    padding: 20px
}
.franchise-privacy p{
    display:block;
   
}
/* =========================
        main
========================= */
.franchise-main{
    
    padding: 50px;
    width: 85%;
}
.franchise-main span{
    line-height: 2
}

/* =========================
        footer
========================= */
.franchise-footer{
    border: 5px solid red;
    background-color: #ffffff;
    width:100%;
    height: 300px;
}
.franchise-footer-container{
    background-color: #f6f6f6;
    display: flex;
    justify-content: flex-start;
}
.franchise-button-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* =========================
        mediaquery
========================= */
@media(max-width:768px ){
  
}
@media(max-width:1220px ){
    .franchise-privacy{
        display: block;
    }
    .franchise-privacy textarea{
        display:block;
        width: 100%;
        height: 200px;
    }
   
}
@media(max-width:768px ){
  
}