/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  
}
li{
  list-style: none;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a, a:hover, a:visited {
  text-decoration-skip-ink: auto;
  text-decoration: none ;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
input, button, submit { border:none; } 

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina&display=swap');
/* 상하단마진겹침문제 해결 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
/* float 문제해결 */
.clearfix:after {
  clear: both;
}

/* Component */

.header-content {
  margin: 50px;
  position: relative;
  margin-left: -101px;
}
.header-logo {
  position: absolute;
  left: 50%;
  display: inline-block;
  background-image: url(../images/common/logo_w.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 202px;
  height: 40px;
  text-indent: -9999px;
}
.header-menu {
  float: right;
}

.header-menu li {
  float: left;
}
.header-menu li a {
  display: block;
  height: 28px;
  line-height: 28px;
  padding: 0 13px;
  border: 1px solid #dddddd;
  border-radius: 50px;
  letter-spacing: 0.02em;
  font-size: 13px;
  margin-right: 5px;
}

.header-menu li a.global_subway {
  background: url(../images/common/icon_global_subway.png) 50% 50% no-repeat;
  overflow: hidden;
  width: 30px;
  height: 30px;
  padding: 0;
  text-indent: -9999px;
  font-size: 0;
}

.header-nav {
  width: 980px;
  margin: 0px auto;
}

#nav_btn {
  color: #292929;
  letter-spacing: -0.04em;
  font-size: 18px;
  font-weight: bold;
  margin-left: 110px;
}
/* 
=============================
    main
============================= 
*/

.main-wrapper {
  
  height: 550px;
}

.main-cover {
  width: 100%;
  
}
/* 
=============================
   quick menu
============================= 
*/
.quick_link {
  position: relative;
}
.quick-content {
   margin-left: 900px;
   margin-top: -20px;
   font-size: 1.3rem;
   
}
/* .store {
} */
.store a {
  float: left;
  background-color: #ffce32;
  width: 300px;
  height: 80px;
  text-align: center;
  letter-spacing: 0.02rem;
  border-radius: 30px 0 0 0;
  line-height:80px;
  
  position: relative;
}
.store a>strong::before{
  position: absolute;
  top: 25px;
  left: 80px;
  content: ' ';
  display: inline-block;
  background: url(../images/common/icon_map.png) 0 0 no-repeat;
  width: 24px;
  height: 35px;
  
}
.youtube a>strong::before{
  position: absolute;
  top: 25px;
  left: 20px;
  content: ' ';
  display: inline-block;
  background: url(../images/common/icon_youtube.png) 0 0 no-repeat;
  width: 30px;
  height: 35px;
  
}
.youtube a{
  position: relative;
  float: left;
  background-color: rgb(228, 26, 26);
  width: 300px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.02rem;
  color: whitesmoke;
 
}

.franchise a>strong::before{
  position: absolute;
  top: 25px;
  left: 53px;
  content: ' ';
  display: inline-block;
  background: url(../images/common/icon_franchise.png) 0 0 no-repeat;
  width: 30px;
  height: 35px;
  
}
.franchise a{
  position: relative;
  float: left;
  background-color: #009223;
  width: 300px;
  height: 80px;
  text-align: center;
  letter-spacing: 0.02rem;
  border-radius: 0 0 30px 0;
  line-height: 80px;
  color: white;
}

/* .store a strong {
}
.franchise {
} */

/* 
=============================
    section
============================= 
*/
.section-wrapper{
  width: 100vw;
  margin: 0 auto;
  padding: 0 40px;
}

.section-title-left{
  
  font-family: 'Baloo Bhaina', cursive;
  font-size: 45px;
  background: url(../images/common/bul_tit.png)  0 2px no-repeat;
  
}
.slider_wrapper{
  margin-left: 40px;
}
.section-wrapper {
  position: relative;
}

.section-wrapper img{
  float: right;
  width: 1100px;
  height: 430px;
  filter: brightness(70%); 
}
.section-mystore{

  float: right;
  font-size: 45px;
  color:#ffce32;
}
.section-mystore span:nth-child(2){
  color:#009223;
  padding-right: 50px
}
.section-mystore-make{
   position: absolute;
   top: 260px;
   right: 500px;
   font-size: 20px;
   background-color: #009223;
   color: white;
   padding: 10px 30px;
   z-index: 10;
}
.section-mystore-make a{
  color: inherit;
}

.section-title img{
  float: right;
  width: 500px;
  height: 500px;
  
}