/* ======================================
 Button
====================================== */
.btn_google::before{
    content: " ";
    display: inline-block;
    width: 15px;
    height: 15px;;
    background: url(../images/logo/logo-google-1991840_640.png)  no-repeat;
    background-size: 100%;
    background-color: #ffffff;
    margin: 2px 2px 0 0 ;
   
}
.btn_google{
   

}

.login > button{
    background-color: #029132;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
    margin-left: 5px;
    width: 80px;
    height: 40px;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../images/common/food-1995916_1920.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.login{
    /* background-color: #029132; */
    background-color: #ffc20e;
    width: 25%;
    height: 50%;
    border: 1px solid #029132;
    padding: 30px;
}

.login h3{
    text-align: center;
    color:  #029132;
    font-size: 1.5rem;
    font-weight: bold;
    
}
.login input{
    display: block;
    width: 100%;
    height: 40px;
    border:none;
    border-bottom: 1px solid #029132;
    margin-top: 3px;
    
}
