.main-slider {
  display: flex;
  height: 300px;
}
.slider-cover-container {
  display: flex;
  align-items: center;
}
.slider-cover {
  display: inline-block;
  margin: 0 10px;
  width: 60%;
  height: 100%;
  opacity: 0.7;
  margin-left: 20px;
}

.slider-cover:hover {
  width: 60.5%;
  opacity: 1;
  transition: transform 0.6s; /* Animation */
  transform: scale(1.1);
}


.slider-container {
  display: inline-block;
}

.slider-desc {
  padding:30px;
  text-align: center;
  font-size: 1.2rem;
  color: #999999;
  opacity: 1;
}

.slider-content {
  display: block;
}

.slider-title {
  font-size: 2rem;
  font-weight: bold;
}
.star::before,
.star {
  background-image: url(../images/menus/star-sprite.png);
  width: 150px;
  height: 30px;
  text-indent: -9999px;
}
.star::before {
  content: "";
  top: 0;
  left: 0;
  display: block;
  background-position: left bottom;
}
.star.s30::before {
  width: 60%;
}
.star.s35::before {
  width: 70%;
}
.star.s40::before {
  width: 80%;
}
.star.s45::before {
  width: 90%;
}
.star.s50::before {
  width: 100%;
}

.btn_detail {
    background-color: green;
    border-radius: 5px;
    padding: 10px 40px ;
    color: #ffffff;
    cursor: pointer;
}

.btn_right:hover {
  background: url(../images/menus/icon_slider_arr.png) -50px -50px no-repeat;
  transition: 2;
}
.btn_right {
  align-self: center;
  display: inline-block;
  background: url(../images/menus/icon_slider_arr.png) -50px 0px no-repeat;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}
.btn_left:hover {
  background: url(../images/menus/icon_slider_arr.png) 0px -50px no-repeat;
}

.btn_left {
  align-self: center;
  display: inline-block;
  background: url(../images/menus/icon_slider_arr.png) no-repeat;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

@media (max-width: 1220px) {
    .slider-cover-container {
        display: block;
      }
      .main-slider {
        display: block;
        height: auto;
      }
  }
